<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <script>
        var updateCustomer = function(){
        var id = $("#id").val();
  			var name = $("#name").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        var city = $("#city").val();
  			var data = {id,name,email,phone,address,city};
        console.log(data);
  			$.ajax({
			    url : "/api/customer",
			    type: "PUT",
			    data : data,
			    success: function(data, textStatus, jqXHR) {
          
			    	if(data.result == "success"){
			    		location = "/customer";
			    	}
			    },
			    error: function (jqXHR, textStatus, errorThrown){
			    	alert("Unable to connect remote server..");
			    }
			});
  		}
    </script>
    <h1><%= title %></h1>
    <input id="id" type="" placeholder="id" name="" value="<%= customer.id %>" readonly> <br/><br/>
    <input id="name" type="" placeholder="Name" name="" value="<%= customer.name %>"> <br/><br/>
    <input id="email" type="" placeholder="Email" name="" value="<%= customer.email %>"> <br/><br/>
    <input id="phone" type="" placeholder="Phone" name="" value="<%= customer.phone %>"> <br/><br/>
    <input id="address" placeholder="Address" name="" value="<%= customer.address %>"> <br/><br/>
    <input id="city" placeholder="City" name="" value="<%= customer.city %>"> <br/><br/>
    <input onclick="updateCustomer()" type="button" value="Update">
  </body>
</html>