<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <script>
      var goLocation = (loc) =>{
        location=loc;
      }
    </script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="btn btn-outline-secondary" onclick="goLocation('/dashboard')">Dashboard</button>&nbsp;|&nbsp;
    <button class="btn btn-outline-secondary" onclick="goLocation('/customer')">Customers</button>&nbsp;|&nbsp;
    <button class="btn btn-outline-secondary" onclick="goLocation('/product')">Product</button>&nbsp;|&nbsp;
    <button class="btn btn-outline-secondary" onclick="goLocation('/about')">About</button>&nbsp;|&nbsp;
    <button class="btn btn-outline-secondary" onclick="goLocation('/login')">Logout</button>&nbsp;|&nbsp;
    <p>System has <%=customerCount%> customer record.</p>
    <p>System has <%=productCount%> product record.</p>
  </body>
</html>
